USE [DW_CHOLON1]
GO
/****** Object:  User [NT Service\MSSQLSERVER]    Script Date: 04/08/2020 12:45:20 PM ******/
CREATE USER [NT Service\MSSQLSERVER] FOR LOGIN [NT Service\MSSQLSERVER] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\MSSQLServerOLAPService]    Script Date: 04/08/2020 12:45:20 PM ******/
CREATE USER [NT SERVICE\MSSQLServerOLAPService] FOR LOGIN [NT SERVICE\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedTableType [dbo].[CL]    Script Date: 04/08/2020 12:45:21 PM ******/
CREATE TYPE [dbo].[CL] AS TABLE(
	[MACL] [nchar](10) NULL,
	[TENCL] [nvarchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[fact]    Script Date: 04/08/2020 12:45:21 PM ******/
CREATE TYPE [dbo].[fact] AS TABLE(
	[MANCC] [nchar](10) NULL,
	[MACL] [nchar](10) NULL,
	[MALH] [nchar](10) NULL,
	[MASP] [nchar](10) NULL,
	[MAKV] [nchar](10) NULL,
	[MACH] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
	[MAKH] [nchar](10) NULL,
	[MATG] [date] NULL,
	[SOLUONG] [int] NULL,
	[TONGTIEN] [int] NULL,
	[DOANHSO] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ncc]    Script Date: 04/08/2020 12:45:21 PM ******/
CREATE TYPE [dbo].[ncc] AS TABLE(
	[MANCC] [nchar](10) NULL,
	[TENNCC] [nvarchar](100) NULL
)
GO
/****** Object:  Table [dbo].[D_CHUNGLOAI]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CHUNGLOAI](
	[MACL] [nchar](10) NOT NULL,
	[TENCL] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_CUAHANG]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CUAHANG](
	[MACH] [nchar](10) NOT NULL,
	[TENCH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_DATETIME]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_DATETIME](
	[MATG] [date] NOT NULL,
	[NGAY] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_KHACHHANG]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[NAMSINH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_KHUVUC]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_KHUVUC](
	[MAKV] [nchar](10) NOT NULL,
	[TENKV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_LOAIHANG]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_LOAIHANG](
	[MALH] [nchar](10) NOT NULL,
	[TENLH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_NHACUNGCAP]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_NHANVIEN]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_SANPHAM]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_SALES]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_SALES](
	[MANCC] [nchar](10) NULL,
	[MACL] [nchar](10) NULL,
	[MALH] [nchar](10) NULL,
	[MASP] [nchar](10) NULL,
	[MAKV] [nchar](10) NULL,
	[MACH] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
	[MAKH] [nchar](10) NULL,
	[MATG] [date] NULL,
	[SOLUONG] [int] NULL,
	[TONGTIEN] [int] NULL,
	[DOANHSO] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[D_CHUNGLOAI] ([MACL], [TENCL]) VALUES (N'CL001     ', N'ĐIỆN TỬ')
INSERT [dbo].[D_CHUNGLOAI] ([MACL], [TENCL]) VALUES (N'CL002     ', N'ĐIỆN LẠNH')
INSERT [dbo].[D_CUAHANG] ([MACH], [TENCH]) VALUES (N'CH02      ', N'Tây Ninh')
INSERT [dbo].[D_CUAHANG] ([MACH], [TENCH]) VALUES (N'CH05      ', N'Trảng Bom- Đồng Nai')
INSERT [dbo].[D_CUAHANG] ([MACH], [TENCH]) VALUES (N'CH11      ', N'Quận 3')
INSERT [dbo].[D_DATETIME] ([MATG], [NGAY], [THANG], [NAM]) VALUES (CAST(N'2020-03-04' AS Date), 4, 3, 2020)
INSERT [dbo].[D_DATETIME] ([MATG], [NGAY], [THANG], [NAM]) VALUES (CAST(N'2020-03-05' AS Date), 5, 3, 2020)
INSERT [dbo].[D_DATETIME] ([MATG], [NGAY], [THANG], [NAM]) VALUES (CAST(N'2020-03-21' AS Date), 21, 3, 2020)
INSERT [dbo].[D_KHACHHANG] ([MAKH], [TENKH], [NAMSINH]) VALUES (N'KH01      ', N'Nguyễn Hà Phúc Tâm', 1990)
INSERT [dbo].[D_KHACHHANG] ([MAKH], [TENKH], [NAMSINH]) VALUES (N'KH02      ', N'Nguyễn Lương Quyền', 1999)
INSERT [dbo].[D_KHACHHANG] ([MAKH], [TENKH], [NAMSINH]) VALUES (N'KH03      ', N'Nguyễn Hoài Vĩ', 1999)
INSERT [dbo].[D_KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV01      ', N'Hồ Chí Minh và lân cận')
INSERT [dbo].[D_KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV02      ', N'Các tỉnh miền Tây')
INSERT [dbo].[D_KHUVUC] ([MAKV], [TENKV]) VALUES (N'KV03      ', N'Các tỉnh miền Trung')
INSERT [dbo].[D_LOAIHANG] ([MALH], [TENLH]) VALUES (N'LH001     ', N'TIVI LED')
INSERT [dbo].[D_LOAIHANG] ([MALH], [TENLH]) VALUES (N'LH005     ', N'ĐẦU KARAOKE')
INSERT [dbo].[D_LOAIHANG] ([MALH], [TENLH]) VALUES (N'LH006     ', N'LOA')
INSERT [dbo].[D_NHACUNGCAP] ([MANCC], [TENNCC]) VALUES (N'NCC001    ', N'SONY')
INSERT [dbo].[D_NHACUNGCAP] ([MANCC], [TENNCC]) VALUES (N'NCC002    ', N'LG')
INSERT [dbo].[D_NHACUNGCAP] ([MANCC], [TENNCC]) VALUES (N'NCC003    ', N'PANASONIC')
INSERT [dbo].[D_NHANVIEN] ([MANV], [TENNV]) VALUES (N'NV01      ', N'Nguyễn Văn Khai')
INSERT [dbo].[D_NHANVIEN] ([MANV], [TENNV]) VALUES (N'NV02      ', N'Nguyễn Văn Điệp')
INSERT [dbo].[D_NHANVIEN] ([MANV], [TENNV]) VALUES (N'NV03      ', N'Nguyễn Văn Tuấn')
INSERT [dbo].[D_SANPHAM] ([MASP], [TENSP]) VALUES (N'SP001     ', N'Android Tivi Sony 4K 43 inch KD-43X8000G VN3 O3')
INSERT [dbo].[D_SANPHAM] ([MASP], [TENSP]) VALUES (N'SP002     ', N'Smart Tivi LG 43 Inch 4K UHD 43UM7100PTA O1')
INSERT [dbo].[D_SANPHAM] ([MASP], [TENSP]) VALUES (N'SP003     ', N'Smart Tivi Panasonic 32 Inch TH-32GS550V O3')
INSERT [dbo].[FACT_SALES] ([MANCC], [MACL], [MALH], [MASP], [MAKV], [MACH], [MANV], [MAKH], [MATG], [SOLUONG], [TONGTIEN], [DOANHSO]) VALUES (N'NCC002    ', N'CL001     ', N'LH001     ', N'SP002     ', N'KV01      ', N'CH22      ', N'NV02      ', N'KH02      ', CAST(N'2020-07-04' AS Date), 2, 23800000, 106240000)
INSERT [dbo].[FACT_SALES] ([MANCC], [MACL], [MALH], [MASP], [MAKV], [MACH], [MANV], [MAKH], [MATG], [SOLUONG], [TONGTIEN], [DOANHSO]) VALUES (N'NCC005    ', N'CL001     ', N'LH001     ', N'SP005     ', N'KV01      ', N'CH31      ', N'NV03      ', N'KH05      ', CAST(N'2020-07-04' AS Date), 4, 19960000, 151070000)
INSERT [dbo].[FACT_SALES] ([MANCC], [MACL], [MALH], [MASP], [MAKV], [MACH], [MANV], [MAKH], [MATG], [SOLUONG], [TONGTIEN], [DOANHSO]) VALUES (N'NCC001    ', N'CL001     ', N'LH001     ', N'SP001     ', N'KV03      ', N'CH61      ', N'NV04      ', N'KH02      ', CAST(N'2020-07-04' AS Date), 2, 30090000, 94980000)
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CH] FOREIGN KEY([MACH])
REFERENCES [dbo].[D_CUAHANG] ([MACH])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_CH]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_CL] FOREIGN KEY([MACL])
REFERENCES [dbo].[D_CHUNGLOAI] ([MACL])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_CL]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[D_KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_KH]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_KV] FOREIGN KEY([MAKV])
REFERENCES [dbo].[D_KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_KV]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_LH] FOREIGN KEY([MALH])
REFERENCES [dbo].[D_LOAIHANG] ([MALH])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_LH]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[D_NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_NCC]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[D_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_NV]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[D_SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_SP]
GO
ALTER TABLE [dbo].[FACT_SALES]  WITH CHECK ADD  CONSTRAINT [FK_FACT_TG] FOREIGN KEY([MATG])
REFERENCES [dbo].[D_DATETIME] ([MATG])
GO
ALTER TABLE [dbo].[FACT_SALES] CHECK CONSTRAINT [FK_FACT_TG]
GO
/****** Object:  StoredProcedure [dbo].[InsertCHUNGLOAI]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCHUNGLOAI] @dt AS CL  READONLY
AS
BEGIN
     SET NOCOUNT ON;

     INSERT D_CHUNGLOAI  SELECT * FROM @dt;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertFACT]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertFACT] @dt AS fact  READONLY
AS
BEGIN
     SET NOCOUNT ON;

     INSERT FACT_SALES  SELECT * FROM @dt;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertNCC]    Script Date: 04/08/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertNCC] @dt AS ncc  READONLY
AS
BEGIN
     SET NOCOUNT ON;

     INSERT D_NHACUNGCAP  SELECT * FROM @dt;
END
GO
